	<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">

<meta content="" name="description">
<meta content="" name="keywords">
<title>Scorescape - Home</title>
<!-- Favicons -->
<link href="/~hamsini.sankaran/w209/static/assets/img/favicon.png" rel="icon">
<link href="/~hamsini.sankaran/w209/static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

<script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-lite@4.17.0"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-embed@5"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="/~hamsini.sankaran/w209/static/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
<link href="/~hamsini.sankaran/w209/static/assets/vendor/aos/aos.css" rel="stylesheet">
<link href="/~hamsini.sankaran/w209/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/~hamsini.sankaran/w209/static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="/~hamsini.sankaran/w209/static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<link href="/~hamsini.sankaran/w209/static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
<link href="/~hamsini.sankaran/w209/static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="/~hamsini.sankaran/w209/static/assets/css/style.css" rel="stylesheet">


<!-- =======================================================
* Template Name: Mentor
* Updated: Sep 18 2023 with Bootstrap v5.3.2
* Template URL: https://bootstrapmade.com/mentor-free-education-bootstrap-theme/
* Author: BootstrapMade.com
* License: https://bootstrapmade.com/license/
======================================================== -->
</head>
<body>
<img src="/~hamsini.sankaran/w209/static/"/>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
<div class="container d-flex align-items-center">
<h1 class="logo me-auto"><a href="/~hamsini.sankaran/w209/index">ScoreScape</a></h1>
<!-- Uncomment below if you prefer to use an image logo -->
<!-- <a href="/~hamsini.sankaran/w209/index" class="logo me-auto"><img src="assets/img/school.jpeg" alt="" class="img-fluid"></a>-->

<nav id="navbar" class="navbar order-last order-lg-0">
<ul>
<li><a class="active" href="/~hamsini.sankaran/w209/index">Home</a></li>
<li><a href="/~hamsini.sankaran/w209/about">Fiscal Trends</a></li>
<li><a href="/~hamsini.sankaran/w209/courses">Score Analytics</a></li>
<li><a href="/~hamsini.sankaran/w209/trainers">District Financial Analytics</a></li>
<li><a href="/~hamsini.sankaran/w209/contact">Contact</a></li>
</ul>
<i class="bi bi-list mobile-nav-toggle"></i>
</nav><!-- .navbar -->


</div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex justify-content-center align-items-center">
<div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
<h1>Educational Budgets, Enrollment and Student Scores</h1>
<h2>Analyzing Data to Empower Education</h2>
<a href="/~hamsini.sankaran/w209/about" class="btn-get-started">Get Started</a>
</div>
</section><!-- End Hero -->

<main id="main">

<!-- ======= About Section ======= -->
<section id="about" class="about">
<div class="container" data-aos="fade-up">

<div class="row">
<div class="col-lg-12 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
<! -- <img src="/~hamsini.sankaran/w209/static/assets/img/school.jpeg" class="img-fluid" alt="About">
</div>
<!-- div class="col-lg-8 pt-4 pt-lg-0 order-2 order-lg-1 content"-->
<div class="container">
<h3 style="text-align: center;">Education Budget and Outcomes</h3>
<p>
Education is the bedrock of personal and societal growth.We delve into the intricate world of education budgets, enrollments and how they correlate with student outcomes.Using U.S. Census Bureau data and National Assessment of Educational Progress (NAEP) data from 1994-2015 we analyze trends, patterns, and outcomes to encourage access to and transparency around educational data.
</p>
<h3>Purpose</h3>
<p>We provide a tool that serves not just as a repository of information but also as a tool for educators and policymakers alike. Whether you're a teacher seeking to understand the impact of your school's budget or a policymaker formulating the next big education initiative, your journey begins here.
</p>
<hr>
<!--ul>
<li><i class="bi bi-check-circle"></i> For insightful analysis.</li>
<li><i class="bi bi-check-circle"></i> For informed decision making</li>
</ul>
<h3>Our Audience</h3>
<ul>
<li><i class="bi bi-check-circle"></i>Primary users: Teachers and educators are at the forefront of this platform.They can use the insights gained to advocate for necessary resources and tailor their teaching strategies in line with budgetary constraints and opportunities.</li>
<li><i class="bi bi-check-circle"></i> Secondary Users: Parents and policymakers also play a crucial role. With access to budgetary and outcomes data, they are better equipped to understand the challenges and successes within the education system and contribute to meaningful discussions on policy and resource allocation.</li>
</ul>-->


</div>
</div>

</div>
</section><!-- End About Section -->

<!-- ======= Counts Section ======= -->
<section id="counts" class="counts section-bg">
<div class="container">

<div class="row counters">
<h3 style="text-align: center;"> Education Statistics for 2015 </h3>
<!-- Total Students -->
<div class="col-lg-2 col-6 text-center">
<span style="color: #2e8b57;">48.5M</span>
<p>Total Students (2015)</p>
</div>

<!-- Average Instruction Expenditure per Student -->
<div class="col-lg-2 col-6 text-center">
<span style="color: #2e8b57;">$7</span>
<p>Average Instruction Expenditure per Student (2015)</p>
</div>

<!-- Avg. Grade 4 Math Score -->
<div class="col-lg-2 col-6 text-center">
<span data-purecounter-start="0" data-purecounter-end="240.27" data-purecounter-duration="1" class="purecounter" style="color: #20b2aa;"></span>
<p>Avg. Grade 4 Math Score (2015)</p>
</div>

<!-- Avg. Grade 4 Reading Score -->
<div class="col-lg-2 col-6 text-center">
<span data-purecounter-start="0" data-purecounter-end="222.10" data-purecounter-duration="1" class="purecounter" style="color: #20b2aa;"></span>
<p>Avg. Grade 4 Reading Score (2015)</p>
</div>

<!-- Avg. Grade 4 Math Score -->
<div class="col-lg-2 col-6 text-center">
<span data-purecounter-start="0" data-purecounter-end="281.73" data-purecounter-duration="1" class="purecounter" style="color: #6b8e23;"></span>
<p>Avg. Grade 8 Math Score (2015)</p>
</div>

<!-- Avg. Grade 4 Reading Score -->
<div class="col-lg-2 col-6 text-center">
<span data-purecounter-start="0" data-purecounter-end="264.84" data-purecounter-duration="1" class="purecounter" style="color: #6b8e23;"></span>
<p>Avg. Grade 8 Reading Score (2015)</p>
</div>
</div>
</div>

</section><!-- End Counts Section -->

<!-- ======= Data section ======= -->
<div class="container" data-aos="fade-up">
<div class="row">
<!-- Data Description Column -->
<div class="col-md-12">
<div class="content">
<h4>Data Sources</h4>
<p> We use the U.S. Census Bureau data and the National Assessment of Educational Progress (NAEP) data from two separate datasets. The NAEP data provides a representative measure of student achievement and is administered to U.S. elementary and secondary students.
</p>

<ul>
<li><i class="bi bi-check"></i>Primary Dataset: <a href="https://www.kaggle.com/datasets/noriuk/us-education-datasets-unification-project" target="_blank">US Education Datasets Unification Project</a></li>
<li><i class="bi bi-check"></i>Secondary Dataset: <a href="https://www.kaggle.com/datasets/noriuk/us-educational-finances?select=districts.csv" target="_blank">US Educational Finances</a></li>
<li><i class="bi bi-check"></i>Latitude and Longitude Data: <a href="https://www.kaggle.com/datasets/paultimothymooney/latitude-and-longitude-for-every-country-and-state/data?select=world_country_and_usa_states_latitude_and_longitude_values.csv" target="_blank">L>
<li><i class="bi bi-check"></i>USA States to Region Mapping: <a href="https://www.kaggle.com/datasets/omer2040/usa-states-to-region" target="_blank">USA States to Region</a></li>
</ul>
</div>
</div>


<br>

<!-- Tableau Visualization Column -->
<h3>Total Instruction Expenditure Distribution</h3>
<p>The visual below displays a sunburst chart detailing instructional spending across four U.S. regions, the West, Midwest, Northeast, and South, and states on the outer ring. Hovering over a slice will display instructional spending figures for specific regions or states.
</p>
<style>
#viz1701076407930 {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
</style>
</div>


</div>






<!-- ======= Why Us Section ======= -->
<!--section id="why-us" class="why-us">
<div class="container" data-aos="fade-up">

<div class="row">
<div class="col-lg-4 d-flex align-items-stretch">
<div class="content">
<h3 style="font-size: 24px;">Join Us in Shaping the Future</h3>
<p>
Our commitment is to provide a tool that serves not just as a repository of information but as a beacon for change. Whether you're a teacher seeking to understand the impact of your school's budget or a policymaker formulating the next big education initiative, your journey begins here. Explore. Analyze. Innovate.
</p>
<div class="text-center">
<a href="/~hamsini.sankaran/w209/about" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
</div>
</div>
</div>
<div class="col-lg-8 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
<div class="icon-boxes d-flex flex-column justify-content-center">
<div class="row">
<div class="col-xl-6 d-flex align-items-stretch">
<div class="icon-box mt-4 mt-xl-0">
<i class="bx bx-cube-alt"></i>
<h4>Usability Testing</h4>
<ul>
<li><i class="bi bi-check-circle"></i>Effortless Navigation</li>
<li><i class="bi bi-check-circle"></i>Actionable insights</li>
<li><i class="bi bi-check-circle"></i>Clear Visual Communication</li>
<li><i class="bi bi-check-circle"></i>Intuitive Interaction</li>
<li><i class="bi bi-check-circle"></i>Rapid Comprehension</li>
<li><i class="bi bi-check-circle"></i>Engaging Experience</li>
<li><i class="bi bi-check-circle"></i>Reliable performance</li>
<li><i class="bi bi-check-circle"></i>Legible Content</li>
<li><i class="bi bi-check-circle"></i>Community Feedback</li>
</ul>
</div>
</div>
<div class="col-xl-6 d-flex align-items-stretch">
<div class="icon-box mt-4 mt-xl-0">
<i class="bx bx-images"></i>
<h4>Tasks</h4>
<ul class="tasks-list">
<li><i class="bi bi-check-circle"></i> Compare instructional expenditure per student for states</li>
<li><i class="bi bi-check-circle"></i> Unraveling Math and Reading Scores Across Instruction Expenditure - Grade-4 and Grade-8</li>
<li><i class="bi bi-check-circle"></i> Explore top twenty districts for detailed insights on spending trends and enrollment numbers </li>
<li><i class="bi bi-check-circle"></i> Identify low and high scores for states- Grade-4 and Grade-8</li>
<li><i class="bi bi-check-circle"></i> Compare regional trends for US - Grade-4 and Grade-8 (Reading & Math)</li>
<li><i class="bi bi-check-circle"></i> Unraveling Reading Scores Across Enrollment Sizes - Grade-4 and Grade-8</li>
</ul>
</div>
</div>
</div>
</div><!-- End .content-->
<!--/div>
<!--/div>

<!--/div>
<!--/section><!-- End Why Us Section -->

<!-- ======= Features Section ======= -->
<section id="features" class="features">
<div class="container" data-aos="fade-up">


</div>
</section><!-- End Features Section -->
<!-- Add this style within your HTML head tag or a CSS file -->
<style>
.charts-grade-container {
display: flex;
justify-content: space-around;
flex-wrap: wrap; /* This will allow the charts to wrap on smaller screens */
}

.chart {
flex: 1; /* This will ensure that both divs take up equal space */
min-width: 300px; /* This ensures that the chart does not get too small */
margin: 10px; /* This adds some space between your charts */
}

/* Responsive Design */
@media (max-width: 768px) {
.charts-grade-container {
flex-direction: column;
}
}
</style>

<!-- ======= Trainers Section ======= -->
<section id="trainers" class="trainers">
<div class="container" data-aos="fade-up">

<div class="row" data-aos="zoom-in" data-aos-delay="100">
<div class="col-lg-4 col-md-6 d-flex align-items-stretch">
<div class="member">
<img src="/~hamsini.sankaran/w209/static/assets/img/trainers/ham.jpg" class="img-fluid" alt="Hamsini Sankaran">
<div class="member-content">
<h4>Hamsini Sankaran</h4>
<span>Data Scientist</span>
</div>
</div>
</div>

<div class="col-lg-4 col-md-6 d-flex align-items-stretch">
<div class="member">
<img src="/~hamsini.sankaran/w209/static/assets/img/trainers/liliana.jpg" class="img-fluid" alt="Liliana Deonizio">
<div class="member-content">
<h4>Liliana Deonizio</h4>
<span>Data Scientist</span>
</div>
</div>
</div>

<div class="col-lg-4 col-md-6 d-flex align-items-stretch">
<div class="member">
<img src="/~hamsini.sankaran/w209/static/assets/img/trainers/kodzai.jpg" class="img-fluid" alt="Kodzai Nyakurimwa">
<div class="member-content">
<h4>Kodzai Nyakurimwa</h4>
<span>Data Scientist</span>
</div>
</div>
</div>

</div>

</div>
</section><!-- End Trainers Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">

<div class="footer-top">
<div class="container">
<div class="row">

</div>
</div>
</div>

<div class="container d-md-flex py-4">

<div class="me-md-auto text-center text-md-start">


<div class="copyright">
<strong><span>Thank you for viewing our visuals!
</span></strong>.
</div>
<div class="credits">
Designed by <a href="https://www.linkedin.com/in/hamsini-sankaran/">Scorescape</a>
<a href="#" class="back-to-top">Back to Top</a>
</div>
</div>
</div>
</footer><!-- End Footer -->

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="/~hamsini.sankaran/w209/static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="/~hamsini.sankaran/w209/static/assets/vendor/aos/aos.js"></script>
<script src="/~hamsini.sankaran/w209/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/~hamsini.sankaran/w209/static/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/~hamsini.sankaran/w209/static/assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="/~hamsini.sankaran/w209/static/assets/js/main.js"></script>
<script>

</body>
</html>
